header {
  margin-bottom: 60px;

  a {
    text-decoration: none;
  }

  h2.main-title {
    margin: 20px 0 0;
    text-align: center;
  }

  .slogan {
    text-align: center;
    margin-top: 8px;
  }
}
