mixin footer
  footer
    div.rss-feed
      a.rss-feed-link(href='/feed.xml')
        img(src='/images/rss.png')
      link(rel="alternate" type="application/rss+xml" href="http://radiobadger.com/feed.xml")

