mixin header
  header
    a.main-title(href='/')
      div.intro
        div.logo
      h2.main-title.beta Radio Badger episodes
    div.slogan Podcast on tech, science, art and internet
    div.subscribe
      a.itunes(href='https://itunes.apple.com/gb/podcast/radio-badger-tech-podcast/id918884643?mt=2')
        | iTunes
      span.divider /
      a.rss(href='http://radiobadger.com/podcast-feed.xml')
        | RSS
