include mixins/header
include mixins/footer
include mixins/scripts
include mixins/meta

doctype html
html
  head
    title
      block title
      | Radio Badger podcast

    block meta
    mixin meta()

    link(rel='stylesheet', href='/css/style.css')

  body
    +header()
    block content
    +footer()
    +scripts
